body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.chat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-window {
    max-width: 600px;
    width: 100%;
    background-color: #f7f7f7;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-y: auto;
    height: 400px; /* Set a fixed height to enable scrolling */
    box-sizing: border-box;
}

ul#messages {
    list-style: none;
    padding: 0;
}

.msg {
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.msg-my {
    background-color: rgba(144, 8, 144, 0.961);
    color: #fff;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: right;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.msg-span {
    display: block;
    font-size: 16px;
    margin-top: 5px;
}

.name {
    font-weight: bold;
    margin-right: 5px;
}

.message-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-top: 1px solid #ccc;
    border-radius: 0 0 15px 15px;
    box-sizing: border-box;
}

#msg_btn {
    background-color: #9b14f6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

#msg_btn:hover {
    background-color: #9b14f6;
}